mat-card {
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 20px;
}

.title-section {
  font-size: 20px;

  > * {
    vertical-align: top;
  }

  .title-icon {
    text-align: center;
    margin-right: 20px;
    border-radius: 50%;
    color: #fff;
    background-color: #525C65;
    font-size: 29px;
    height: 51px;
    width: 51px;
    line-height: 51px !important;
  }

  .mat-icon-button {
    color: grey;
    margin-top: -9px;
  }
}

.mat-menu-item {
  line-height: 30px;
  height: 30px;

  .icon-add {
    height: 22px;
    width: 20px;
    font-size: 20px;
    margin-right: 5px;
  }
}

.action-section {
  margin-top: -10px;

  .mat-form-field {
    width: 60px;
    margin-right: 20px;
  }

  .mat-mini-fab {
    background-color: #7394B7;
  }
}

.progress-section {
  margin-left: 71px;
  color: rgba(0,0,0,.54);
  font-family: 'Montserrat';

  .goal-total {
    color: #F24B21;
  }

  mat-progress-bar {
    margin-top: 5px;
    height: 8px;
    border-radius: 9px;
    color: green;
  }
}

.mat-progress-bar-buffer {
  background-color: #F8F1F1;
}

.mat-progress-bar-fill::after {
  background-color: #beb840;
}

mat-progress-bar::-webkit-progress-bar {
  background: #F8F1F1;
  border-radius: 9px;
  border: 1px solid white;
}

progress::-webkit-progress-value {
  background: #beb840;
  border-radius: 9px;
  border: 1px solid white;
}

progress.styled1::-webkit-progress-value {
  background: #beb840;
  border-radius: 9px;
  border: 1px solid white;
}

progress.styled2::-webkit-progress-value {
  background: #f2cb66;
  border-radius: 9px;
  border: 1px solid white;
}

progress.styled3::-webkit-progress-value {
  background: #eda23d;
  border-radius: 9px;
  border: 1px solid white;
}

progress.styled4::-webkit-progress-value {
  background: #db5e30;
  border-radius: 9px;
  border: 1px solid white;
}

progress.styled5::-webkit-progress-value {
  background: #a82221;
  border-radius: 9px;
  border: 1px solid white;
}
