mat-card {
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 20px;
}

.title-section {
  font-size: 20px;

  > * {
    vertical-align: top;
  }

  .title-icon {
    text-align: center;
    margin-right: 20px;
    border-radius: 50%;
    color: #fff;
    background-color: #525C65;
    font-size: 29px;
    height: 51px;
    width: 51px;
    line-height: 51px !important;
  }

  .mat-icon-button {
    color: grey;
    margin-top: -9px;
    width: 35px;
  }

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
}

.mat-menu-item {
  line-height: 30px;
  height: 30px;

  .icon-add {
    height: 22px;
    width: 20px;
    font-size: 20px;
    margin-right: 5px;
  }
}

.action-section {
  margin-top: -10px;

  .mat-form-field {
    width: 60px;
    margin-right: 20px;
  }

  .mat-mini-fab {
    background-color: #7394B7;
  }
}

.progress-section {
  margin-left: 71px;
  color: rgba(0,0,0,.54);
  font-family: 'Montserrat';

  .goal-total {
    color: #F24B21;
  }

  mat-progress-bar {
    margin-top: 5px;
    height: 8px;
    border-radius: 9px;
    color: green;
  }
}

::ng-deep .mat-progress-bar-buffer {
  background-color: #F8F1F1;
}

::ng-deep .mat-progress-bar-fill::after {
  .styled0 & {
    background-color: #00a388;
  }

  .styled1 & {
    background-color: #3eaf8b;
  }

  .styled2 & {
    background-color: #79bd8f;
  }

  .styled3 & {
    background-color: #97d397;
  }

  .styled4 & {
    background-color: #beeb9f;
  }

  .styled5 & {
    background-color: #d8f79f;
  }

  .styled6 & {
    background-color: #ffff9d;
  }

  .styled7 & {
    background-color: #ffe88f;
  }

  .styled8 & {
    background-color: #ff9358;
  }

  .styled9 & {
    background-color: #ff9358;
  }

  .styled10 & {
    background-color: #ff6138;
  }
}

@media (max-width: 480px) {
  .title-section > span {
    max-width: 92px;
  }
}

@media (min-width: 481px) {
  .title-section > span {
    max-width: 186px;
  }
}
