<mat-card>
  <mat-card-content>

    <div class="main-section row">
      <div class="title-section col-auto">
        <mat-icon class="title-icon">{{ monthCategory.icon }}</mat-icon>
        <span>{{ monthCategory.name }}</span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/budget/edit-month-category/{{ monthCategory.id }}">
            <mat-icon class="icon-add">create</mat-icon>
            Изменить
          </button>
          <button mat-menu-item (click)="onDelete()">
            <mat-icon class="icon-add">clear</mat-icon>
            Убрать
          </button>
        </mat-menu>
      </div>

      <div class="action-section col right">
        <mat-form-field (keyup.enter)="onSumEnter()">
          <input matInput type="number" placeholder="Сумма" [(ngModel)]="enteredSum">
        </mat-form-field>
        <button mat-mini-fab (click)="onPopularSum()">{{ monthCategory.popularSum }}</button>
      </div>
    </div>

    <div class="progress-section row">
      <div class="col-auto">
        <strong>${{ monthCategory.spendingSum }}</strong> of
        <strong class="goal-total">${{ monthCategory.monthBudget }}</strong>
      </div>
      <div class="col right">
        <strong>${{ monthCategory.monthBudget - monthCategory.spendingSum }}</strong>
      </div>
      <mat-progress-bar [ngClass]="progressClass" mode="determinate" value="{{ monthCategory.spendingSum / monthCategory.monthBudget * 100 }}" color="#123456"></mat-progress-bar>
    </div>

  </mat-card-content>
</mat-card>
