<mat-card>
  <mat-card-title [ngSwitch]= "isNew()">
    <ng-container *ngSwitchCase="true">Создание категории</ng-container>
    <ng-container *ngSwitchCase="false">Редактирование категории</ng-container>
  </mat-card-title>
  <mat-card-content class="row">
    <div class="col">
      <mat-form-field>
        <input matInput placeholder="Название категории" [(ngModel)]="category.name">
      </mat-form-field>

      <mat-form-field>
        <input type="number" step="100" matInput placeholder="Бюджет на месяц" [(ngModel)]="category.monthBudget">
      </mat-form-field>

      <mat-form-field>
        <input type="number" matInput placeholder="Популярная сумма траты" [(ngModel)]="category.popularSum">
      </mat-form-field>
    </div>
    <div class="col title-picture">
      <div>Иконка категории</div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="title-icon">{{category.icon}}</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let icon of icons" (click)="category.icon = icon">
          <mat-icon>{{icon}}</mat-icon>
        </button>
      </mat-menu>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" routerLink="/categories" (click)="onSave()">Сохранить</button>
    <button mat-raised-button routerLink="/categories">Отмена</button>
  </mat-card-actions>
</mat-card>
