<mat-card class="main">
  <app-budget></app-budget>
  <hr>
  <mat-card-footer class="row">
    <button mat-icon-button class="col">
      <mat-icon svgIcon="list"></mat-icon>
    </button>
    <button mat-icon-button class="col active">
      <mat-icon svgIcon="money-bag2" class="active"></mat-icon>
    </button>
    <button mat-icon-button class="col">
      <mat-icon svgIcon="pie_chart"></mat-icon>
    </button>
    <button mat-icon-button class="col">
      <mat-icon svgIcon="bar_chart"></mat-icon>
    </button>
  </mat-card-footer>
</mat-card>
