/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  max-width: 500px;
  margin: 0 auto;
}

.row {
  display: flex !important;
  flex-wrap: wrap;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.right {
  text-align: right;
}

.bg-red {
  background: #EA6777;
}
