<mat-card>
  <mat-card-content>

    <div class="main-section row">
      <div class="title-section col-auto">
        <mat-icon class="title-icon">restaurant</mat-icon>
        <span>Питание</span>
        <button mat-icon-button>
          <mat-icon class="icon-more">more_vert</mat-icon>
        </button>
      </div>

      <div class="action-section col right">
        <mat-form-field>
          <input matInput placeholder="Сумма">
        </mat-form-field>
        <button mat-mini-fab>50</button>
      </div>
    </div>

    <div class="progress-section row">
      <div class="col-auto">
        <strong>$430</strong> of
        <strong class="goal-total">$1000</strong>
      </div>
      <div class="col right">
        <strong>$570</strong>
      </div>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>

  </mat-card-content>
</mat-card>
