mat-card {
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 20px;
}

.title-section {
  font-size: 20px;

  > * {
    vertical-align: top;
  }

  .title-icon {
    margin-right: 20px;
    border-radius: 50%;
    color: #fff;
    background-color: #525C65;
    height: 35px;
    width: 35px;
    padding: 8px;
  }

  .mat-icon-button {
    color: grey;
    margin-top: -9px;
  }
}

.action-section {
  margin-top: -10px;

  .mat-form-field {
    width: 60px;
    margin-right: 20px;
  }

  .mat-mini-fab {
    background-color: #7394B7;
  }
}

.progress-section {
  margin-left: 71px;
  color: rgba(0,0,0,.54);
  font-family: 'Montserrat';

  .goal-total {
    color: #F24B21;
  }

  mat-progress-bar {
    margin-top: 5px;
  }
}
